html{
    scroll-behavior: smooth;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
button,
input,
textarea,
select,
option,
label {
    font-size: calc(1rem + 1px);
}
::-webkit-scrollbar{
    background-color: rgba(51, 29, 194, 0.612);}
::-webkit-scrollbar-thumb {
    background-color: rgb(51, 29, 194);
}
header{
    position: fixed;
    width: 100%;
}
.card{
    cursor: pointer;
    transition: all .5s ease-out;

}
.card:hover{
    transform: scale(1.1);
}

